<!DOCTYPE html>
<html lang="en">
<head>
    <title>Product</title>
    <th:block th:replace="/layout/head::admin"></th:block>
</head>
<body>
<div class="container-fluid position-relative bg-white d-flex p-0">
    <th:block th:replace="/layout/leftSideBar"></th:block>

    <div class="content">
        <th:block th:replace="/layout/navBarAdmin"></th:block>

        <div class="container">
            <div class="card container px-6" style="height: 100vh">
                <h3 class="text-center">Management Product</h3>
                <!--                <c:if test="${message != null}">-->
                <!--                    <h6 class="d-none" id="message">${message}</h6>-->
                <!--                </c:if>-->

                <div style="display: flex; align-items: center;">
                    <div style="margin-right: auto;">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#modalCreate">
                            <i class="far fa-plus-square"></i>
                            Create Product
                        </button>
                    </div>
                </div>

                <table class="table table-striped" id="tbProduct">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Price</th>
<!--                        <th>IMG</th>-->
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!--loading-->
<!--<th:block th:replace="/layout/loading::loading_1"></th:block>-->

<th:block th:replace="/layout/loading::loading_2"></th:block>

<!--Modal Create-->
<th:block th:replace="/product/modalCreate"></th:block>

<!--Modal Update-->
<th:block th:replace="/product/modalUpdate"></th:block>

<!--script admin-->
<th:block th:replace="layout/head::admin_script"></th:block>

<!--script product-->
<th:block th:replace="layout/head::product-js"></th:block>
</body>
</html>