<th:block th:fragment="navbarAdmin">
        <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
            <a href="/admin" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
            </a>
            <a href="#" class="sidebar-toggler flex-shrink-0">
                <i class="fa fa-bars"></i>
            </a>
                    <a href="/home">
                        <div class="menu-item active">
                            Home
                        </div>
                    </a>
            <div class="navbar-nav align-items-center ms-auto">
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <img class="rounded-circle me-lg-2" src="/img/user.jpg" alt=""
                             style="width: 40px; height: 40px;">
                        <span class="d-none d-lg-inline-flex">${user.name}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                        <a href="/templates/user?action=profile&id=${user.id}" class="dropdown-item">My Profile</a>
                        <a href="/auth?action=changePassword&id=${user.id}" class="dropdown-item">Change
                            Password</a>
                        <a href="/auth?action=logout" class="dropdown-item">Log Out</a>
                    </div>
                </div>
            </div>
        </nav>
</th:block>