<head>
    <title>DASHMIN - Bootstrap Admin Template</title>
    <th:block th:replace="/layout/head::admin"></th:block>
<!--        <link rel="stylesheet" href="/assets/css/core.css" class="template-customizer-core-css">-->
</head>

<body>
<th:block th:replace="/layout/leftSideBar"></th:block>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <th:block th:replace="/layout/navBarAdmin"></th:block>
        <div class="container">
            <div class="card container px-6" style="height: 100vh">
<!--                <h3 class="text-center">Management User</h3>-->
<!--                <th:if test="${message != null}">-->
<!--                    <h6 class="d-none" id="message">${message}</h6>-->
<!--                </th:if>-->

                <div style="display: flex; align-items: center;">
                    <div style="margin-right: auto;">
<!--                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" onclick="showCreate()"-->
<!--                                data-bs-target="#staticBackdrop" id="create">-->
<!--                            <i class="far fa-plus-square"></i>-->
<!--                            Create-->
<!--                        </button>-->
                    </div>
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                         tabindex="-1"
                         aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog" style="max-width: 800px">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="userForm">
                                        <div class="row">
                                            <div id="formBody">

                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td>Id</td>
                        <td>Full Name</td>
                        <td>Username</td>
                        <td>Phone</td>
                        <td>Address</td>
                        <td>Date of Birth</td>
                        <td>Gender</td>
                        <td>Action</td>
                    </tr>
                    </thead>
                    <tbody class="table-border-bottom-0" id="tBody">

                    </tbody>
                </table>
                <div class="d-flex justify-content-end">
                    <nav aria-label="...">
                        <ul class="pagination" id="pagination">

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>


<!--<th:block th:replace="/user/create"></th:block>-->
<!--Modal Create-->
<!--<th:block th:replace="/user/modalCreate"></th:block>-->

<!--Modal Update-->
<!--<th:block th:replace="/user/modalUpdate"></th:block>-->

<!--script admin-->
<th:block th:replace="layout/head::user_script"></th:block>
<script src="/assets/js/base.js"></script>
<script src="/assets/js/user.js"></script>
<script src="/assets/web-toast/src/webToast.js"></script>
<script src="/assets/web-toast/src/bootstrap.js"></script>

<script src ="/assets/web-toast/src/jquery.js"></script>

</body>
</html>