<html lang="en">
<head>
    <title>DASHMIN - Bootstrap Admin Template</title>
    <th:block th:replace="/layout/head::admin"></th:block>
</head>
`
`
<body>
<div class="container-xxl position-relative bg-white d-flex p-0">
    <th:choose>
        <th:when test="${user.role.id eq '1' && not empty loggedIn}">
            <!-- Spinner Start -->
            <div id="spinner"
                 class="bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
                <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <!-- Spinner End -->


            <!-- Sidebar Start -->
            <div class="sidebar pe-4 pb-3">
                <nav class="navbar bg-light navbar-light">
                    <a href="/admin" class="navbar-brand mx-4 mb-3">
                        <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>User</h3>
                    </a>
                    <div class="d-flex align-items-center ms-4 mb-4">
                        <div class="position-relative">
                            <a href="/admin"></a>
                            <img class="rounded-circle" src="/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                        </div>
                        <div class="ms-3">
                            <h6 class="mb-0">${user.name}</h6>
                            <span>${user.role.name}</span>
                        </div>
                    </div>
                    <div class="navbar-nav w-100">
                        <a href="/templates/userlates/user?action=profile&id=${user.id}" class="nav-item nav-link"><i
                                class="fa fa-tachometer-alt me-2"></i>Profile</a>
                        <a href="/products" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Product</a>
                        <a href="/product-import" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Product
                            Import</a>
                        <a href="/templates/userlates/user" class="nav-item nav-link active"><i
                                class="fa fa-table me-2"></i>User</a>
                        <a href="/express" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Express</a>
                        <a href="/order" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Order</a>
                    </div>
                </nav>
            </div>
            <!-- Sidebar End -->


            <!-- Content Start -->
            <div class="content">
                <!-- Navbar Start -->
                <div>
                    <!-- Navbar Start -->
                    <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                        <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                            <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                        </a>
                        <a href="#" class="sidebar-toggler flex-shrink-0">
                            <i class="fa fa-bars"></i>
                        </a>
                        <div class="navbar-nav align-items-center ms-auto">
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                    <img class="rounded-circle me-lg-2" src="/img/user.jpg" alt=""
                                         style="width: 40px; height: 40px;">
                                    <span class="d-none d-lg-inline-flex">${user.name}</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                                    <a href="/templates/userlates/user?action=profile&id=${user.id}"
                                       class="dropdown-item">My Profile</a>
                                    <a href="/admin?action=changePassword&id=${user.id}" class="dropdown-item">Change
                                        Password</a>
                                    <a href="/auth?action=logout" class="dropdown-item">Log Out</a>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="container">
                    <div class="card container px-6" style="height: 100vh">
                        <h3 class="text-center">Management User</h3>
                        <th:if test="${message != null}">
                            <h6 class="d-none" id="message">${message}</h6>
                        </th:if>

                        <div style="display: flex; align-items: center;">
                            <div style="margin-right: auto;">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#create">
                                    <i class="far fa-plus-square"></i>
                                    Create
                                </button>
                            </div>
                            <form action="/templates/userlates/user?page=${page.currentPage}"
                                  style="display: flex; align-items: center; margin-right: 10px;">
                                <div>
                                    <input type="text" id="searchUser" value="${search}" name="search"
                                           class="form-control" style="width: 85%" placeholder="Search User">
                                </div>
                                <div style="margin-left: 10px;">
                                    <button id="searchButton" class="btn btn-primary">Search</button>
                                </div>
                            </form>
                        </div>

                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td>Id</td>
                                <td>Full Name</td>
                                <td>Phone</td>
                                <td>Username</td>
                                <td>Address</td>
                                <td>Date of Birth</td>
                                <td>Gender</td>
                                <td>Role</td>
                                <td>Action</td>
                            </tr>
                            <th:forEach var="user" items="${page.content}">
                                <tr>
                                    <td>${user.id}</td>
                                    <td>${user.name}</td>
                                    <td>${user.phone}</td>
                                    <td>${user.username}</td>
                                    <td>${user.address}</td>
                                    <td>${user.dob}</td>
                                    <td>${user.gender}</td>
                                    <td>${user.role.name}</td>
                                    <td>
                                        <a href="/templates/userlates/user?action=edit&id=${user.id}"
                                           class="btn btn-info mb-2">Edit</a>
<!--                                        <button class="btn btn-danger mb-2">-->
<!--                                            onclick="showConfirmation('${user.id}', '${user.name}')">Delete&#45;&#45;%>-->
<!--                                        </button>-->
                                    </td>
                                </tr>
                            </th:forEach>
                        </table>
<!--                        <div style="display: flex; align-items: center; justify-content: center; margin-top: 20px;">-->
<!--                            <nav aria-label="...">-->
<!--                                <th:set var="url" value="/user?search=${search}&page="/>-->
<!--                                <ul class="pagination">-->
<!--                                    <li class="page-item <th:if test=" ${page.currentPage== 1}>disabled</th:if>">-->
<!--                                        <a class="page-link" href="${url}${(page.currentPage - 1)}" tabindex="-1"-->
<!--                                           aria-disabled="true">Previous</a>-->
<!--                                    </li>-->
<!--                                    <th:forEach var="number" begin="1" end="${page.totalPage}">-->
<!--                                        <th:if test="${number == page.currentPage}">-->
<!--                                            <li class="page-item active" aria-current="page">-->
<!--                                                <a class="page-link" href="${url}${number}">${number}</a>-->
<!--                                            </li>-->
<!--                                        </th:if>-->
<!--                                        <th:if test="${number != page.currentPage}">-->
<!--                                            <li class="page-item">-->
<!--                                                <a class="page-link" href="${url}${number}">${number}</a>-->
<!--                                            </li>-->
<!--                                        </th:if>-->
<!--                                    </th:forEach>-->
<!--                                    <li class="page-item <th:if test=" ${page.currentPage>=-->
<!--                                        page.totalPage}">disabled</th:if>">-->
<!--                                        <a class="page-link" href="${url}${(page.currentPage + 1)}">Next</a>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </nav>-->
<!--                        </div>-->
                    </div>

                </div>
                <!-- Navbar End -->

            </div>
            <!-- Content End -->
        </th:when>
        <th:otherwise>
            <th:redirect url="/auth"/>
        </th:otherwise>
    </th:choose>
</div>


<!--<th:block th:replace="/user/create"></th:block>-->
<th:block th:replace="layout/head::admin_script"></th:block>

<!-- JavaScript Libraries -->
<!--<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>-->
<!--<script src="lib/chart/chart.min.js"></script>-->
<!--<script src="lib/easing/easing.min.js"></script>-->
<!--<script src="lib/waypoints/waypoints.min.js"></script>-->
<!--<script src="lib/owlcarousel/owl.carousel.min.js"></script>-->
<!--<script src="lib/tempusdominus/js/moment.min.js"></script>-->
<!--<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>-->
<!--<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>-->

<!--&lt;!&ndash; Template Javascript &ndash;&gt;-->
<!--<script src="/js/main.js"></script>-->

<!--<script>-->
<!--    const message = document.getElementById('message');-->
<!--    if (message !== null && message.innerHTML) {-->
<!--        toastr.success(message.innerHTML);-->
<!--    }-->

<!--    document.getElementById("searchButton").addEventListener("click", function () {-->
<!--        var searchInput = document.getElementById("searchUser").value;-->
<!--        var searchUrl = "/user?action=search&result=" + encodeURIComponent(searchInput);-->
<!--        window.location.href = searchUrl;-->
<!--    });-->

<!--    function showConfirmation(userId, userName) {-->
<!--        const confirmation = confirm("Are you sure you want to delete user: " + userName + "?");-->
<!--        if (confirmation) {-->
<!--            // Nếu người dùng nhấn OK trong hộp xác nhận, chuyển hướng đến URL xóa sinh viên-->
<!--            window.location.href = "/user?action=delete&id=" + userId;-->
<!--        }-->
<!--    }-->

<!--</script>-->


</body>
</html>