

<th:block th:fragment="modalCreate">
    <div class="modal fade" id="modalCreate" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Create User</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="area-error hide">

                    </div>
                    <form id="usrCreate" method="post">
                        <div class="mb-3">
                            <label for="userNameCre" class="form-label">Full Name</label>
                            <input type="text" class="form-control" id="userNameCre" name="userNameCre" required="true">
                            <div id="name-error" class="text-danger"></div>
                        </div>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" required="true">
                            <div id="username-error" class="text-danger"></div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password"
                                   required="true">
                            <div id="password-error" class="text-danger"></div>
                        </div>
                        <div class="mb-3">
                            <label for="userPhone" class="form-label">Phone Number</label>
                            <input type="text" class="form-control" id="userPhone" name="userPhone" required="true">
                            <div id="phone-error" class="text-danger"></div>
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" class="form-control" id="address" name="address" required="true">
                            <div id="address-error" class="text-danger"></div>
                        </div>
                        <div class="mb-3">
                            <label for="dob" class="form-label">Date of birth</label>
                            <input type="date" class="form-control" id="dob" name="dob" required="true">
                            <div id="dob-error" class="text-danger"></div>
                        </div>
                        <div class="mb-3">
                            <label for="gender" class="form-label">Gender</label>
                            <select class="form-control" name="gender" id="gender" required="">
                                <th:forEach var="gender" items="${genders}">
                                    <option value="${gender}">${gender}</option>
                                </th:forEach>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="roleCre" class="form-label">Role</label>
                            <select class="form-control" name="roleCre" id="roleCre" required="">
                                <th:forEach var="role" items="${roles}">
                                    <option value="${role.id}">${role.name}</option>
                                </th:forEach>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-success" id="btnCreate">
                        <i class="fas fa-plus"></i>
                        Create
                    </button>
                </div>
            </div>
        </div>
    </div>
</th:block>

