<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> PDB.COM </title>
    <th:block th:replace="/layout/head::home"></th:block>
</head>

<body>
<h6 class="d-none" id="message">${message}</h6>
<!-- MOBILE NAV -->
<div class="mb-nav">
    <div class="mb-move-item"></div>
    <div class="mb-nav-item active">
        <a href="/homes">
            <i class="bx bxs-home"></i>
        </a>
    </div>
    <div class="mb-nav-item">
        <a href="#about">
            <i class='bx bxs-wink-smile'></i>
        </a>
    </div>
    <div class="mb-nav-item">
        <a href="#food-menu-section">
            <i class='bx bxs-food-menu'></i>
        </a>
    </div>
    <div class="mb-nav-item">
        <a href="#testimonial">
            <i class='bx bxs-comment-detail'></i>
        </a>
    </div>
</div>
<!-- END MOBILE NAV -->
<!-- BACK TO TOP BTN -->
<a href="#home" class="back-to-top">
    <i class="bx bxs-to-top"></i>
</a>
<!-- END BACK TO TOP BTN -->
<!-- TOP NAVIGATION -->
<div class="nav">
    <div class="menu-wrap">
        <a href="/homes">
            <div class="logo">
                PDB Shop
            </div>
        </a>
        <div class="menu h-xs">
            <a href="/homes">
                <div class="menu-item active">
                    Home
                </div>56
            </a>
            <a href="/homes#food-menu-section">
                <div class="menu-item">
                    Menu
                </div>
            </a>
            <a href="/homes#testimonial">
                <div class="menu-item">
                    Testimonials
                </div>
            </a>
        </div>
        <div class="right-menu">
            <div class="cart-btn">
                <a href="/cart?idUser=${user.id}" class="cart-btn"><i class='bx bx-cart-alt'></i></a>
                <a href="/auth" class="cart-btn"><i class='bx bx-cart-alt'></i> </a>
            </div>
        </div>
        <div>
            <form class="d-flex">
                <div class="right-items login" id="user-info" th:if="${loggedIn == false}">
                    <a href="/login" class="btn btn-primary d-none d-lg-block " id="login-btn">Login</a>
                </div>
                <div class="right-items login d-flex" th:if="${loggedIn == true}">
                    <div style="padding-right: 20px">
                        <a class="btn btn-primary d-none d-lg-block "
                           th:href="${user.role.toString() == 'ADMIN' ? '/dashboard' : '/user'}"
                           th:text="${user.name}"></a>
                    </div>
                    <div>
                        <a href="/logout" class="btn btn-primary d-none d-lg-block ">Logout</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--    <div class="navbar-nav align-items-center ms-auto">-->
    <!--        <div class="nav-item dropdown">-->
    <!--            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">-->
    <!--                <img class="rounded-circle me-lg-2" src="img/user.jpg" alt=""-->
    <!--                     style="width: 40px; height: 40px;">-->
    <!--                <span class="d-none d-lg-inline-flex">${user.name}</span>-->
    <!--            </a>-->
    <!--            <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">-->
    <!--                <a href="/user?action=profile&id=${user.id}" class="dropdown-item">My Profile</a>-->
    <!--                <a href="/auth?action=changePassword&id=${user.id}" class="dropdown-item">Change Password</a>-->
    <!--                <a href="/auth?action=logout" class="dropdown-item">Log Out</a>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <a href="/auth" class="login-btn">Login </a>-->
    <!--    </div>-->

</div>
<!-- END TOP NAVIGATION -->
<!-- SECTION HOME -->
<section id="home" class="fullheight align-items-center bg-img bg-img-fixed"
         style="background-image: url(/static/assets/img/s1mplecuoi.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-6 col-xs-12">
                <div class="slogan">
                    <h1 class="left-to-right play-on-scroll">
                        PDB Shop
                    </h1>
                    <p class="left-to-right play-on-scroll delay-2">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae eveniet ullam perferendis
                        eos, nobis corrupti similique fuga ipsa minus at eius ipsam expedita quam aliquam
                        perspiciatis voluptate qui dolore soluta.
                    </p>
                    <div class="left-to-right play-on-scroll delay-4">
                        <a href="/homes#food-menu-section">
                            <button>Order</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION HOME -->
<!-- FOOD MENU SECTION -->
<section class="align-items-center bg-img bg-img-fixed" id="food-menu-section"
         style="background-image: url(/static/assets/img/s1mplecuoi.jpg);">
    <div class="container">
        <div class="food-menu">
            <h1>
                What will <span class="primary-color">you</span> eat today?
            </h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque alias aliquam eveniet, iure
                praesentium dicta ex dolorum inventore itaque minus repudiandae, odio provident? Velit architecto
                natus expedita non? Odio, dolorum.
            </p>
            <div class="food-category">
                <div class="zoom play-on-scroll">
                    <a data-food-type="all" href="/homes#food-menu-section">
                        <button class="active" data-food-type="all">
                            All food
                        </button>
                    </a>
                </div>
                <div class="zoom play-on-scroll delay-2">
                    <a href="${pageContext.request.contextPath}/homes?search=${category.name}">
                        <button>
                        </button>
                    </a>
                </div>
            </div>

            <div class="food-item-wrap all" id="renderProd">

            </div>
        </div>
    </div>
</section>
<!-- END FOOD MENU SECTION -->
<!-- TESTIMONIAL SECTION -->
<section id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-4 col-xs-12">
                <div class="review-wrap zoom play-on-scroll delay-2">
                    <div class="review-content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, labore nisi non
                            molestias, minus laboriosam nostrum impedit iure facilis odio unde quia ad sunt corrupti
                            dolores ratione voluptatibus quidem explicabo.
                        </p>
                        <div class="review-img bg-img"
                             style="background-image: url(/static/assets/img/s1mplecuoi.jpg);">
                        </div>
                    </div>
                    <div class="review-info">
                        <h3>
                            Lorem Ipsum Dolor
                        </h3>
                        <div class="rating">
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 col-xs-12">
                <div class="zoom play-on-scroll">
                    <div class="review-wrap active">
                        <div class="review-content">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, labore nisi non
                                molestias, minus laboriosam nostrum impedit iure facilis odio unde quia ad sunt
                                corrupti
                                dolores ratione voluptatibus quidem explicabo.
                            </p>
                            <div class="review-img bg-img"
                                 style="background-image: url(/static/assets/img/s1mplecuoi.jpg);">
                            </div>
                        </div>
                        <div class="review-info">
                            <h3>
                                Lorem Ipsum Dolor
                            </h3>
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 col-xs-12">
                <div class="review-wrap zoom play-on-scroll delay-4">
                    <div class="review-content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, labore nisi non
                            molestias, minus laboriosam nostrum impedit iure facilis odio unde quia ad sunt corrupti
                            dolores ratione voluptatibus quidem explicabo.
                        </p>
                        <div class="review-img bg-img"
                             style="background-image: url(/static/assets/img/s1mplecuoi.jpg);">
                        </div>
                    </div>
                    <div class="review-info">
                        <h3>
                            Lorem Ipsum Dolor
                        </h3>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END TESTIMONIAL SECTION -->
<!-- FOOTER SECTION -->
<section class="footer bg-img" style="background: #0c0e12;">
    <div class="container">
        <div class="row">
            <div class="col-6 col-xs-12">
                <h1>
                    Freshfood
                </h1>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, quas harum? Atque eius
                    quaerat fuga sint molestiae illo corrupti vitae voluptatibus. Dicta rerum est delectus
                    perspiciatis nemo nihil autem! Doloremque?</p>
                <br>
                <p>Email: kimjayden001@gmail.com</p>
                <p>Phone: +254712080741</p>
                <p>Website: PDB Shop.com</p>
            </div>
            <div class="col-2 col-xs-12">
                <h1>
                    About us
                </h1>
                <br>
                <p>
                    <a href="#">
                        Chefs
                    </a>
                </p>
                <p>
                    <a href="#">
                        Menu
                    </a>
                </p>
                <p>
                    <a href="#">
                        Testimonials
                    </a>
                </p>
                <p>
                    <a href="#">
                        Lorem ipsum
                    </a>
                </p>
            </div>
            <div class="col-4 col-xs-12">
                <h1>
                    Subscribe & media
                </h1>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto aspernatur doloremque rerum nam
                    ullam obcaecati error asperiores temporibus quo eum eaque sed odio vitae accusantium, dolorem
                    nihil molestiae deserunt maxime!</p>
                <div class="input-group">
                    <input type="text" placeholder="Enter your email">
                    <button>
                        Subscribe
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END FOOTER SECTION -->
<th:block th:replace="/layout/head::home_script"></th:block>
<script src="/static/assets/js/home.js"></script>
</body>
</html>
